{% extends "layout.html" %}

{% block title %}
Change Password
{% endblock %}

{% block main %}
<h1 class="search-for-ratings-title">Change Password</h1>
<br><br>

    <div id = "formbody">
        <form action = "/change-password" method = "POST">
        <h2 class = "sign-up-titles">
            Email
            <input id = "email" name = "email" type="text" class = "textinput" placeholder = "Enter Email Address"></input>
        </h2>
        <div>
        <h2 class = "sign-up-titles">
            Old Password
            <input id = "old_password" name = "old_password" type="text" class = "textinput" placeholder = "Enter Old Password"></input>
        </h2>
        </div>
        <div>
            <h2 class = "sign-up-titles">
                New Password
                <input id = "new_password_intial" name = "new_password_intial" type="text" class = "textinput" placeholder = "Enter New Password"></input>
            </h2>
            </div>
        <div>
            <h2 class = "sign-up-titles">
                 New Password Confirmation
                    <input id = "new_password_confirmation" name = "new_password_confirmation" type="text" class = "textinput" placeholder = "Enter New Password Again"></input>
            </h2>
        </div>
        <br>
        <button class = "sign-up-buttons" type = "submit">Change Password</button>
        <!-- <button class ="sign-up-buttons" onclick="window.location.href='/index'">Cancel</button> -->
    </div>
</form>

{% endblock %}