<!-- Landing Page for Belongr -->
<!DOCTYPE html>

<html lang="en">

  <head>
    <link href="/static/styles.css" rel="stylesheet">
    <title>Belongr</title>
  </head>

  <body id = "homepage">

    <div class = "img-and-text-container-landing">

      <img src = "/static/myeventsimages/belongrLanding1.png" alt = "Homepage background" id = "background">
      <h1>Belongr</h1>

      <div class = "about-belonger">
        
        <p class = "centered">In one survey of university students at a particular institution, almost half of respondents indicated at least one place where they felt marginalized or excluded. Belongr is here to change that. Belongr is a web application for email-verified university students to anonymously see and rate the levels of inclusivity of university-recognized student organizations on their campus in the context of identities such as race, religion, ethnicity, sexual orientation, gender identity, socioeconomic status, and disability. For each university-recognized student organization, Belongr provides for each identity a histogram of inclusivity ratings and their mean, median, and mode as well as the number of ratings. This information does not go public until a club has at least 30 ratings.</p>
      </div>
  </div>


  </body>
  </html>

 
<!-- Footer -->
