<!DOCTYPE html>

<html lang="en">

  <head>
    <link href="/static/styles.css" rel="stylesheet">
    <title>Belongr</title>
  </head>

  <body id = "homepage">

    <!-- <img src = "/static/images/belongrLanding.png" alt = "Homepage background" id = "background"> -->

    <h1 class = "home_header">
      Belongr
    </h1>

    <h1 class = "home_header">
    </h1>

    <button id = "login_student" onclick="window.location.href='/login'">
      Login 
    </button>

    <button id = "register_student" class = "buttonsecondary" onclick="window.location.href='/register'">
      Register
    </button>

  </body>

</html>
<!-- Footer -->
