<!DOCTYPE html>

<html lang="en">

  <head>
    <link href="/static/styles.css" rel="stylesheet">
    <title>Belongr</title>
  </head>

  <body id = "homepage">

    <img src = "/static/images/belongrLanding1.jpeg" alt = "Homepage background" id = "background">


    <h1 class = "home_header">
      Belongr
    </h1>

    <h1 class = "home_header">
    </h1>


    <div class = "landing-buttons">
    <button id = "login_student" onclick="window.location.href='/sign_in'">
      Sign In 
    </button>

    <button id = "register_student" onclick="window.location.href='/sign_up'">
      Sign Up
    </button>
  </div>

  </body>

</html>
<!-- Footer -->
