<!DOCTYPE html>

<html lang="en">
<head>
    <link href="/static/styles.css" rel="stylesheet">
    <title>Login Page</title>
</head>
<body id="loginbody">
    <h1 id="titlelog">Login</h1>
    <br><br>
    <div id = "formbody">
        <h2>
            Email
            <input type="text" class = "textinput" placeholder = "Enter Email Address"></input>
        </h2>
        <h2>
            Password
            <input type="text" class = "textinput" placeholder = "Enter Password"></input>
        </h2>
        <br>
        <button id = "submit" onclick="window.location.href='/example'">Login</button>
        <button id="cancel" onclick="window.location.href='/index'">Cancel</button>
    </div>
</body>
</html>