{% extends "layout.html" %}

{% block title %}
  Sign In
{% endblock %}

{% block main %}

<h1 class="search-for-ratings-title">Sign In</h1>
<br><br>

    <div id = "formbody">
        <form method = "GET">
        <h2 class = "sign-up-titles">
            Email
            <input id = "email" type="text" class = "textinput" placeholder = "Enter Email Address" value="{{ request.form['email'] }}"></input>
        </h2>
        <div>
        <h2 class = "sign-up-titles">
            Password
            <input id = "password" type="text" class = "textinput" placeholder = "Enter Password" value="{{ request.form['password'] }}"></input>
        </h2>
        </div>
        <br>
        <button class = "sign-up-buttons" onclick="window.location.href='/index'">Sign In</button>
        <button class ="sign-up-buttons" onclick="window.location.href='/index'">Cancel</button>
    </div>
</form>
</div>

{% endblock %}
