{% extends "layout.html" %}

{% block title %}
Sign Up
{% endblock %}

{% block main %}
    <h1 class="search-for-ratings-title">Sign Up</h1>
    <br><br>

    <div id = "formbody">
        <form method = "POST">
        <h2 class = "sign-up-titles">
            Email
            <input id = "email" type="text" class = "textinput" placeholder = "Email address"></input>
        </h2>
        <div>
            <h2 class = "sign-up-titles">
                Password
                <input id = "password_initial" type="text" class = "textinput" placeholder = "Password" id="pswd"></input>
            </h2>
            <div>
                <h2 class = "sign-up-titles">
                    Confirm Password
                    <input id = "password_confirmation" type="text" class = "textinput" placeholder = "Confirm Password"></input>
                    <!-- <p id="password_confirmation"></p> -->
                </h2>
                    <br>
                    <button class = "sign-up-buttons" onclick="register(event)" id="submit">Sign Up</button>
                    <button class = "sign-up-buttons" id="cancel" onclick="window.location.href='/index'">Cancel</button>
            </div>
        </div>
    </form>
    </div>

{% endblock %}