{% extends "layout.html" %}

{% block title %}
Sign Up
{% endblock %}

{% block main %}
<br>
<div class="col-3 mx-auto bg-dark border border-0 rounded-3">
  <br>
  <h3 style="color:white; font-family:'Bungee Shade';font-size: 44px;">Sign Up</h3>
  <form action="/sign-up" method="POST">
    <div class="col-10 form-floating mx-auto p-2">
      <input autocomplete="off" autofocus class="form-control" id="email" name="email" placeholder="Email" type="text">
      <label for="email">Email</label>
    </div>
    <div class="col-10 form-floating mx-auto p-2">
      <input class="form-control" id="password_initial" name="password" placeholder="Password" type="password">
      <label for="password_initial">Password</label>
    </div>
    <div class="col-10 form-floating mx-auto p-2">
      <input class="form-control" id="password_confirmation" name="confirmation" placeholder="Confirm Password" type="password">
      <label for="password_confirmation">Confirm Password</label>
    </div>
    <br>
    <div class="pb-4 mb-3">
      <button class="btn btn-primary col-10" type="submit">Sign Up</button>
    </div>
  </form>
</div>

{% endblock %}