{% extends "layout.html" %}

{% block title %}
  Sign In
{% endblock %}

{% block main %}

<h1 class="search-for-ratings-title">Sign In</h1>
<br><br>

    <div id = "formbody">
        <form action = "/sign-in" method = "POST">
        <h2 class = "sign-up-titles">
            Email
            <input id = "email" name = "email" type="text" class = "textinput" placeholder = "Enter Email Address"></input>
        </h2>
        <div>
        <h2 class = "sign-up-titles">
            Password
            <input id = "password" name = "password" type="text" class = "textinput" placeholder = "Enter Password"></input>
        </h2>
        </div>
        <br>
        <button class = "sign-up-buttons" type = "submit">Sign In</button>
        <!-- <button class ="sign-up-buttons" onclick="window.location.href='/index'">Cancel</button> -->
    </div>
</form>

{% endblock %}
